# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
**/.idea/
.idea_modules/
**/.idea_modules/

# VS Code related
.vscode/
**/.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
**/.dart_tool/
.flutter-plugins-dependencies
**/.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/build/
coverage/
**/coverage/

# Android Studio and gradle build artifacts
.gradle/
**/.gradle/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/local.properties
**/flutter_bootstrap.js

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exclude environment configuration JSON files (which contain keys/secrets)
.env*.json
**/.env*.json
